body {
  width: 80%;
  height: 100vh;
  background-image: linear-gradient(to bottom right, green, lightgreen);
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

header {
  width: 100%;
  margin-top: 50px;
}
nav {
  width: 100%;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  box-sizing: border-box;
  position: relative;
  padding: 10px 50px;
}

.divs {
  background-color: white;
  /* border: 1px solid blue; */
  border-radius: 28px;
  width: 180px;
  height: 50px;
  box-shadow: 1px 1px 1px gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: tahoma;
  color: #333;
  cursor: pointer;
}
/* .divs:hover {
} */

/* .divs:focus + .fixed-fullscreen-div > .hidden-modal-window {
  display: flex;
} */

.blury {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
span {
  display: block;
  font-size: 2rem;
  text-align: right;
  margin-bottom: 50px;
}

.fixed-fullscreen-div {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 120px; */
}
.hidden-modal-window {
  width: 70vw;
  /* height: 400px; */
  box-sizing: border-box;
  padding: 5px 75px 75px 75px;
  margin-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  /* top: 200px;
  left: 200px; */
  background-color: white;
  font-size: 1.3rem;
  font-family: calibri;
  color: #333;
  border-radius: 5px;
}

.hidden-modal-window > p,
.hidden-modal-window > h1 {
  line-height: 2rem;
}
h1 {
  font-weight: 600px;
  font-size: 2rem;
  margin-bottom: 20px;
}
.close-btn {
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}
